.navigationContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: white;
    color: #57b7eb;
    font-weight: bold;
}
.profile {
    grid-column: 6/8;
}
.signInButton{
    padding: 10%;
    transition: 0.1s;

    cursor: pointer;
}
.signInButton:hover {
    font-size: 1.1rem;
    transition: 0.3s;
}

.CreateUserButton {
    cursor: pointer;
    transition: 0.1s;
}
.CreateUserButton:hover {
    font-size: 1.1rem;
    transition: 0.3s;
}
.divButton {
    grid-column: 8/10;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 400px) {
    .divButton {
      display: grid;
      margin-top: 0;
      grid-column: 6/10;
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 400px) {
      .divButton {
          grid-column: 4/10;
      }
     
  }
  @media only screen and (min-width: 600px) {
    .divButton {
        grid-column: 6/10;
    }
   
}
  @media only screen and (min-width: 800px) {
    .divButton {
        grid-column: 7/10;
    }
   
}