.navigationContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 15px;
}
.profile {
    grid-column: 8/9;
}
.signInButton{
    grid-column: 8/9;
    padding: 10%;
    margin-top: 10px;
    transition: 0.1s;
    width: 100px;
    cursor: pointer;
}
.signInButton:hover {
    font-size: 1.1rem;
    transition: 0.3s;
}
