.desktopNavigationContainer{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin-top: 15px;
}

.navigationLogotype {
    width: 100px;
    grid-column: 2/3;
}
.profile {
    grid-column: 15/16;
}
.signInButton{
    grid-column: 15/16;
    padding: 10%;
    margin-top: 10px;
    transition: 0.1s;
}
.signInButton:hover {
    font-size: 1.1rem;
    transition: 0.3s;
}
.deskotopNavigationTabs {
    grid-column: 7/9;
    align-items: center;
    justify-self: center;
}

