.desktopNavigationContainer{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.navigationLogotype {
    width: 100px;
    cursor: pointer;
}
.profile {
    grid-column: 15/16;
}
.signInButton{
    grid-column: 15/16;
}

