.desktopNavigationContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 10px;
}

.deskotopNavigationTabs {
    grid-column: 4;
    align-items: center;
    justify-self: center;
}

